[submodule "prerequisites/QtWebApp"]
	path = prerequisites/QtWebApp
	url = https://github.com/samiavasil/QtWebApp
[submodule "prerequisites/c-ipfs"]
	path = prerequisites/c-ipfs
	url = https://github.com/Agorise/c-ipfs.git
[submodule "prerequisites/qssh"]
	path = prerequisites/qssh
	url = https://github.com/lvklabs/QSsh.git
[submodule "prerequisites/botan"]
	path = prerequisites/botan
	url = https://github.com/randombit/botan.git
