!.gitignore
*/*.user
*/nbproject/
*/build
*/*.*.user.*
/even-boffin/www/nbproject/private/
/even-boffin/ipfs/
/bin
*/*/nbproject
*.rar
*backup
.qmake.stash
qmake.txt
/prerequisites/c-libp2p
/prerequisites/c-multiaddr
/prerequisites/c-multihash
/prerequisites/c-protobuf
/prerequisites/lmbd
/r-score-demo/build/


